{% extends 'bootstrap/base.html' %} {% block head %} {{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
{% endblock %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %} {% block title %} Welcome Home {% endblock title %} {% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Homeland</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% else %}
        <li>
          <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
        </li>
        <li><a href="{{ url_for('main.settings') }}">Settings</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %} {% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %} {% block app_content %}{% endblock %}
</div>
{% endblock %}
