{% extends "base.html" %}
{% block app_content %}
<table class="table table-hover">
  <tr>
    <td width="256px"><img src="{{ user.avatar(256) }}" /></td>
    <td>
      <h1>User: {{ user.username }}</h1>
      {% if user.about_me %}
      <p>{{ user.about_me }}</p>
      {% endif %} {% if user.username == current_user.username %}
      <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
